:root {
    --pink: rgb(253, 191, 191);

}
body{
    background-color: whitesmoke;
}
.navbar{
    position: sticky;
    top: 0px;
    bottom: 100%;
}
.box{
    background-color: blue;
    min-width: 50px;
    border: 1px;
}
.nav-brand{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-style: bold;
    color: black;
    font-style: none;
    text-decoration: none;
}
/* .heading{
    padding-bottom: 5px;
    padding-top: 5px;
    color: black;

} */
table tr td input{
    width: 95%;
}
.floating_button{
    font-size: xx-large;
}
/* css for heading  */
.heading{
    text-align: center;
    color: #333;
    font-size: 2rem;
    padding: 1rem;
    background: rgb(236, 229, 229);
}
.heading span{
    color: var(--pink);
}

/* Navigation bar for the study panel*/
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .navbar li {
    margin-right: 10px;
  }

  .navbar li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .navbar li a:hover {
    background-color: #005A9E;
  }

  /* Content area */
  .content {
    padding: 20px;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-y: auto;
  }
  /* right side nav */
  .notes_box{
    width: 200px;
    height: 500px;
  }

  .left-sidebar {
    left: 0;
  }
  .cance-btn{
    right: 0;
  }

  .right-sidebar {
    right: 0;
  }

  /* Content styling */
  .main-content {
    margin-left: 250px;
    margin-right: 250px;
  }
